<nav class="pagination" role="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="/" title="Previous Page">&laquo; prever Posts</a>
        {% else %}
            <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; prever Posts</a>
      {% endif %}
    {% endif %}
    <span class="page-number">{% if paginator.total_pages > 1 %} Page {{paginator.page}} of {{paginator.total_pages}} {% endif %}</span>
    {% if paginator.next_page %} 
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Next Posts &raquo;</a>
    {% endif %} 
</nav>
